<%- include('partials/header-out') -%>

<main class="container mx-auto my-3 p-3">
	<div class="displayCard row col-12 col-sm-10 col-md-8 col-lg-6 justify-content-center p-2 mx-auto">
		<section class="p-3">
			<% if (locals.messages.errors) { %>
				<% messages.errors.forEach( el => { %>
					<div class="alert alert-danger"><%= el.msg %></div>
				<% }) %>    
			<% } %>
			<% if (locals.messages.info) { %>
				<% messages.info.forEach( el => { %>
					<div class="alert alert-info"><%= el.msg %></div>
				<% }) %>    
			<% } %>
				<form action="/signup" method="POST">
					<div class="mb-3">
						<label for="firstName" class="form-label fs-5">First Name: </label>
						<input type="text" class="form-control" id="firstName" name="firstName">
					</div>
					<div class="mb-3">
						<label for="lastName" class="form-label fs-5">Last Name: </label>
						<input type="text" class="form-control" id="lastName" name="lastName">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label fs-5">Email address: </label>
						<input type="email" class="form-control" id="email" name="email">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label fs-5">Password: </label>
						<input type="password" class="form-control" id="password" name="password">
					</div>
					<div class="mb-3">
						<label for="confirmPassword" class="form-label fs-5">Confirm Password: </label>
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
					</div>
					<div class="mb-3">
						<div id="privacy-notice" class="form-text">We respect your privacy. Your personal information will not be shared.</div>
					</div>
					<button type="submit" class="btn btn-primary fw-medium fs-5">Submit</button>
				</form>
		</section>
	</div>
</main>

<%- include('partials/footer') -%>