/******************************************
/* CSS
/*******************************************/


body {
  background-color: #436850;
  color: #12372A;
  letter-spacing: 0.1em;
  height: 100vh;
}

/* -- HEADER -- */

.navLogo a {
  color: #F8F0D2;
  transition: all 0.3s ease-in-out;
}

  .navLogo:hover a {
    color: #F8F0D2;
    letter-spacing: 0.2em;
  }

.nav-link {
  background-color: #12372A;
  border: 2px solid #12372A;
  color: #FBFADA;
  transition: all 0.2s ease-in-out;
}

  .nav-link:hover {
    background-color: #ADBC9F;
    border: 2px solid #1A4D2E;
    color: #12372A;
    cursor: pointer;
  }

/* -- MAIN -- */

.displayCard {
  background-color: #FBFADA;
  border: 2px solid #FBFADA;
  border-radius: 5px;
  color: #12372A;
}

.form-control {
  border: 2px solid #12372A;
}

.btn {
  background-color: #1A4D2E;
  border: 2px solid #1A4D2E;
  color: #F8F0D2;
  min-height: 48px;
  transition: all 0.3s ease;
}

  .btn:hover {
    background-color: #ADBC9F;
    border: 2px solid #1A4D2E;
    color: #12372A;
  }


/* -- FOOTER -- */

footer {
  border-top: 1px solid black;
  background-color: #12372A;
  color: #FBFADA;
}

footer a {
  color: #FBFADA;
  text-decoration: none;
}

  footer a:hover {
    text-decoration: underline;
  }

.footerIcon {
  border: 2px solid #12372A;
}

  .footerIcon:hover {
    border: 2px solid #FBFADA;
    border-radius: 10%;
  }

.icon {
  font-size: 1.4em;
  color: #FBFADA;
}


/******************************************
/* CONTAINERS
/*******************************************/

.card {
  background-color: #F8F0D2;
  border: 2px solid #436850;
  flex-grow: 1;
}

textarea {
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.navbar-toggler {
  color: #ADBC9F;
}

#indexImg {
  width: 100%;
}

#profileImg {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
}

hr {
  height: 2px;
  border: none;
  border-top: 2px solid #4A2C1D;
}

.authorName {
  color: #1A4D2E;
  text-decoration: none;
}

  .authorName:hover {
    text-decoration: underline;
  }


/******************************************
/* MEDIA QUERIES
/*******************************************/

@media (min-width: 992px) {
  .nav-link {
    font-size: 1.4em;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    transition: all 0.5s ease-in-out;
  }
  
    .navbar-brand:hover {
      letter-spacing: 0.1rem;
    }
}